.joke-button {
  background: yellow;
  border: none;
  color: black;
  padding: 35px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 50%;
}

.joke-button:hover {
  background-color: orange;
  color: black;
}

.random-button {
  background: red;
  border: none;
  color: white;
  padding: 35px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 50%;
}

.random-button:hover {
  background-color: green;
  color: blue;
}
