body {
  background: url("/images/mario_bg.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  font-family: 'Press Start 2P', cursive;
}


.joke-button {
  background: yellow;
  border: none;
  color: black;
  padding: 100px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 50%;
}

.joke-button:hover {
  background-color: orange;
  color: black;
}

.random-button {
  background: red;
  border: none;
  color: white;
  padding: 100px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 50%;
}

.random-button:hover {
  background-color: green;
  color: blue;
}

.spud {
  border-radius: 50%;
}
